<div class="flexbox">
<p id="notice"><%= notice %></p>
<strong>Address:</strong><%= @autocomplete.address %>
<h1>Find me some food!<place class=""></place></h1>
<p>

</p>

<%= form_with(url: restaurants_path) do |form| %>
  <div class="field">
    <%#= form.label :latitude %>
    <%= form.hidden_field :latitude, value: @autocomplete.latitude %>
  </div>

  <div class="field">
    <%#= form.label :longtitude %>
    <%= form.hidden_field :longtitude, value: @autocomplete.longtitude %>
  </div>

  <div class="actions">
    <div id="submit" class="btn waves-effect waves-light">
      <%= form.submit "Go" %>
    </div>
  </div>

<% end %>

<%= link_to 'Edit', edit_autocomplete_path(@autocomplete) %>
<%= link_to 'Back', autocompletes_path %>
</div>