<div class="flexbox">
  <div class="polaroid">
    <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%=photo_reference%>&key=AIzaSyAGQ6cQ8nTlmwHb8zxc3is44Tu_cTOrUxA" alt="<%= restaurant_name %>", align="middle"</img>
    <div class="container">
      <p><br>
        <strong>Restaurant name:</strong>
        <%= restaurant_name %>
        <br><br>
        <strong>Restaurant address:</strong>
        <%= restaurant_address %>
        <br><br>
        <strong>Restaurant rating:</strong>
        <%= restaurant_rating %>
        <br><br>
        <strong>Restaurant directions:</strong>
        <br><br></p>
    </div>
  </div>

</div>
