<div class = "tablepage">
<div>
  <h1>Your favourite HungryPlaces.</h1>

  <table>
    <thead>
    <tr>
      <th>Restaurant Name</th>
      <th>Restaurant Address</th>
      <th>Restaurant Rating</th>
      <th>Restaurant Directions</th>
<!--      <th>Restaurant Place ID</th>-->
<!--      <th>Photo Reference</th>-->
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @favourites.each do |favourite| %>
      <tr>
        <td><%= favourite.restaurant_name %></td>
        <td><%= favourite.restaurant_address%></td>
        <td><%= favourite.restaurant_rating %></td>
        <td><%= favourite.restaurant_directions %></td>
<!--        <td><%#= favourite.restaurant_place_id %></td>-->
<!--        <td><%#= favourite.photo_reference %></td>-->
        <td><%= link_to 'Show', favourite %></td>
        <td><%= link_to 'Edit', edit_favourite_path(favourite) %></td>
        <td><%= link_to 'Destroy', favourite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Favourite', new_favourite_path %>
</div>
</div>