<p id="notice"><%= notice %></p>

<h1>Autocomplettes</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Street number</th>
      <th>Locality</th>
      <th>Route</th>
      <th>Administrative area level 1</th>
      <th>Country</th>
      <th>Postal code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autocomplettes.each do |autocomplette| %>
      <tr>
        <td><%= autocomplette.address %></td>
        <td><%= autocomplette.street_number %></td>
        <td><%= autocomplette.locality %></td>
        <td><%= autocomplette.route %></td>
        <td><%= autocomplette.administrative_area_level_1 %></td>
        <td><%= autocomplette.country %></td>
        <td><%= autocomplette.postal_code %></td>
        <td><%= link_to 'Show', autocomplette %></td>
        <td><%= link_to 'Edit', edit_autocomplette_path(autocomplette) %></td>
        <td><%= link_to 'Destroy', autocomplette, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Autocomplette', new_autocomplette_path %>
